body {
  background: #F7F7F7;
  color: #223242;
  font-size: 0.95rem;
  font-family: "Segoe UI", serif;
}

.text-centered {
  text-align: center;
}


/* Login page */
.login-title {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: #3B3B3B;
  font-size: 4.1rem;
  opacity: .89;
}

.login-subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #223242;
  opacity: 0.38;
  padding-top: .5rem;
}




/* Figures */
.figure-left {
  transform: rotate(2deg);
  overflow: visible;
  position: absolute;
  top: 5rem;
  left: -15rem;
  width: 30rem;
  height: 20rem;
  opacity: 0.5;
  fill: rgba(238,234,252,1);
}

.figure-right {
  transform: rotate(13deg);
    overflow: visible;
    position: absolute;
    top: 20rem;
    right: -5rem;
    width: 11rem;
    height: 20rem;
    opacity: 0.1;
    fill: rgba(183,183,183,1);
}

/* Bulma overwrite */


.box {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #223242;
}


