{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body_title %}<a class="login-title" href="{% url 'password_reset' %}">Reset Password</a>{% endblock %}
{% block body_subtitle %}Don't worry, we have your back{% endblock %}

{% block required_asterisck %}
{% endblock %}

{% block body_btn %}
Send me instructions
{% endblock %}

{% block links %}
<p>
  <a class="link-secundario" href="{% url 'login' %}">I remembered my password</a>
  <br>
    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
</p>
{% endblock %}
